body{
    width: 90%;
    margin: 0 auto;
}
#header{
    text-align: center;
}
#content{
    overflow: auto;   
} 
input + input {
    padding: 5px;
}
a{
    padding: 5px;
}
#footer{
    position: fixed;
    padding: 0.5em 0;
    bottom: 0;   
    width: 90%;  
    margin: 0 auto;
    font-size: larger;
    font-weight: bold;
}
 
.column1, .column2, .column3{    
    width: 31.3%;
    float: left;
    margin: 1%;
    font-size:medium;
    
}
.column3{
    margin-right: 0%;
}
.menu{
    display:inline;
}
li{
    list-style: disc;
    padding: 5px;
}
h1{
    background-color: #efefef;
}
#nav, #footer{
    background-color: #efefef;
    padding: 0.5em 0;
    font-size: large;
}
#feature, .article{
    height: auto;
    margin-bottom: 1em;
    background-color: #efefef;
}
.addBtn {
    padding: 9px 10px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}
.addBtn:hover {
    background-color: #2ab53a;
    color: white;
}

.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
    text-align: center;
}
.id{
    width:10%;
}
.nome{
    width: 80%;
}
.iconeRemover{
    width: 5%;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: start;
}

table{
    background-color: white;
    width: 50%;
}

tr:nth-child(odd){
    background-color: #eee;
}

th:nth-child(1){
    width: auto;
}

tr:hover {
    background: rgb(200, 199, 199);
}

.newItem {
    /* background-color: rgb(225, 222, 199); */
    background-color: #efefef;
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

.campoNome{
    width: 300px;
    font-size: medium;
}
